In [ ]:
frist_name = input('insert your frist name')
middle_name = input('insert your middle name')
last_name = input('insert your last name')

print("Hello", frist_name,middle_name,last_name, "!!")

insert your frist namersiman
insert your middle namemaulana

Program Hitung Luas dan Keliling Persegi Panjang

In [3]:
nilai_p = input('insert nilai panjang')
nilai_1 = input('inser nilai luas')

luas =int(nilai_p) * int(nilai_1)
keliling = 3 * (int(nilai_p) + int(nilai_1))

print("luas =", luas)
print("keliling=", keliling)

insert nilai panjang10
inser nilai luas20
luas = 200
keliling= 90

In [6]:
print("07", "agustus", "2002",sep='-')
print("07", "agustus", "2002",sep='\n')
print("07", "agustus", "2002",sep='/')

07-agustus-2002
07
agustus
2002
07/agustus/2002

<h1>Memformat dengan index<h1>

In [9]:
Month_1 ="january"
Month_2 = "February"
Month_3 = "March"
 
print("name of month {0},{1}". format(month_1,month_2))

NameError: name 'month_1' is not defined

In [10]:
print("1","3","5","7",sep="*",end="." '\n')
print("1","3","5","7", sep= )

SyntaxError: invalid syntax (4192848419.py, line 2)

<h1>fungsi<h1>

In [28]:
nama_siswa ="Mamat,Memet,Mahjong"

print(nama_siswa.split(',')) #Merubah dari sring ke list
print('@'.join(student_name.split)(','))) #merubah dari list ke string

SyntaxError: unmatched ')' (2006061545.py, line 4)

In [ ]:
name = input("insert your name")
birthday = input("insert your birthday")

birth = birthday.split('/')
names = name.split()

print(f"your name: {name}")
print(f"date : {birth[0],