In [6]:
fname = input('isikan nama awal')
mname = input('isikan nama tengah')
lname = input('isikan nama akhir')

print('selamat datang' ,fname,mname,lname,"s.kom")

isikan nama awalseptian
isikan nama tengahbayu
isikan nama akhirananda
selamat datang septian bayu ananda s.kom

In [9]:
bil1 = input('isikan bilangan 1:')
bil2 = input('isikan bilangan 2:')
print(type(bil1))
hasil = int (bil1) + int (bil2)
print('hasil penjumlahan', hasil)

isikan bilangan 1:5
isikan bilangan 2:5
<class 'str'>
hasil penjumlahan 10

In [15]:
#luas => p* l
#keliling = 2 * (p+l)

p= input('isikan panjang persegi')
l= input('isikan lebar persegi')

Iuas = input(p) * int(1)
Keliling = 2 *(int(p) + int(1))
               
print('luas persegi panjang',Iuas)
print('keliling persegipanjang',Keliling)

isikan panjang persegi14
isikan lebar persegi15
1414
luas persegi panjang 14
keliling persegipanjang 30

In [17]:
print("seni","selasa","rabu","kamis","jumat","sabtu","minggu",sep="@",end="^-^")
print("one","two","three","fout",sep="\n")

seni@selasa@rabu@kamis@jumat@sabtu@minggu^-^one
two
three
fout

In [19]:
number1 = 7
number2 = 10

#hasil perkalian 7 dengan 10 adalah 70
print("perkalian {} dengan {} adalah {}".format(number1,number2,number1 * number2))

perkalian 7 dengan 10 adalah 70

In [20]:
first_letter = "A"
middle_letter = "B"
last_letter = "C"

print("urutan huruf {2}{1}{0}".format(first_letter,middle_letter,last_letter))

urutan huruf CBA

In [24]:
# sekarang tanggal 20 bulan maret tahun 2024
print ("sekarang tanggal {tanggal} bulan {bulan} tahun {tahun}".format(tanggal = 20,bulan="maret",tahun=2024))

sekarang tanggal 20 bulan maret tahun 2024

In [26]:
kampus = "universitas nusa putra"
print("huruf pertama adaalah:",kampus[0])
print("huruf terakhir adaalah:",kampus[- 1])
print("huruf range0-10",kampus[0:11])
print(kampus[-5:])
print(kampus[12:])
#Reverse string
print(kampus[::-1])

huruf pertama adaalah: u
huruf terakhir adaalah: a
huruf range0-10 universitas
putra
nusa putra
artup asun satisrevinu

In [33]:
#split => string => list
kota = "jakarta sukabumi malang bandung surabaya"
list_kota = kota.split()
print(list_kota)
print(list_kota[0])
#join => list => string
join_kota = "@".join(list_kota)
print(join_kota)

['jakarta', 'sukabumi', 'malang', 'bandung', 'surabaya']
jakarta
jakarta@sukabumi@malang@bandung@surabaya

In [9]:
# isikan nama : bayu septian
# isikan tanggal lahir : 05/09/2004
# output :
# nama awal :bayu
# nama akhir : septian
# tgl lahir : 05
# bulan lahir : 09
# tahun lahir : 2004
# nama inisial: bs

nama = input("isikan nama anda:")
tgl = input("isikan tanggal Lahir:")
            
list_nama = nama.split()
print("Nama Awal :", list_nama[0])
print("nama akhir :", list_nama[1])
print("nama Inisial :", list_nama[0][0] + list_nama[1][0])

isikan nama anda:bayu septian
isikan tanggal Lahir:05
Nama Awal : bayu
nama akhir : septian
nama Inisial : bs